body {
    padding-top: 50px;
    background: url('images/zeduc\ logo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif; /* Police moderne et lisible */
}

header {
    background-color: #462F1C;
}

.navbar {
    color: #462F1C;
    background-color: #462F1C; /* Couleur de fond du header */
    border-bottom: 2px solid #CFBD97;
    padding: 5px;
    display: flex;
    justify-content: space-between; /* Ensures space between logo and menu */
    align-items: center; /* Vertically centers items */
}

.logo-left {
    position: fixed;
    left: 0;
}

.container {
    position: relative;
}


.navbar img {
    max-height: 80px;
    max-width: 120px;
}

.nav-item {
    margin-left: 20px;
}

.navbar-brand {
    color: #F7E79B; /* Couleur du logo */
}

.nav-link {
    color: #CFBD97; /* Texte doré pour s'harmoniser avec le logo */
    font-weight: 500;
}

.nav-link.active {
    color: #FFD700; /* Couleur pour le lien actif */
    border-bottom: 2px solid #CFBD97;
}

.nav-link:hover {
    color: #F9F4E6; /* Effet au survol */
}

.navbar-toggler img {
    width: 40px;
    height: 40px;
}
.card {
    border: none;
    border-radius: 5px;
    background-color: #EEEDDD;
}

.form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 8px;
    background-color: #F9F4E6; /* Couleur douce pour contraster avec le fond sombre */
    animation: fadeIn 1s, ease-in-out;
}

.form-group {
    margin-bottom: 15px;
}

.create-account-link {
    color: #6D4C41; /* Marron */
    text-decoration: none; /* Enlève le soulignement si tu le souhaites */
}

.create-account-link:hover {
    text-decoration: underline; /* Ajoute un effet lors du survol si souhaité */
    color: #6D4C41;
}


.btn-primary {
    background-color: #462F1C;
    border-color: #462F1C;
    cursor: pointer;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color:#BFA56E;
}*
footer {
    background-color:#EEEDDD ; /* Couleur de fond du footer */
    border-top: 2px solid #EEEDDD; /* Bord supérieur de couleur */
}

footer p {
    margin: 5px 0; /* Marges pour les paragraphes */
}

footer img {
    max-height: 50px; /* Taille maximale pour le logo dans le footer */
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}