body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    /*background: url('images/zeduc\ logo.jpg') no-repeat center center fixed;*/
    background-size: cover;
}
header{
    background-color:#462F1C ;
    height: 200px;
}
.navbar {
    background-color: #462F1C; /* Couleur de fond du header */
    border-bottom: 2px solid #CFBD97;
    padding: 5px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: #F9F4E6; /* Effet au survol */
}

.nav-item {
    margin-left: 20px;
  }

.navbar-brand {
    color: #F7E79B; /* Couleur du logo */
}

.logo-left {
    position: fixed;
    left: 0;
}
.container {
    position: relative;
}

.nav-link {
    /*color: #f5f5f5; /* Couleur des liens */
    color: #CFBD97; /* Texte doré pour s'harmoniser avec le logo */
    font-weight: 500;
}

.nav-link.active {
    color: #FFD700; /* Couleur pour le lien actif */
    border-bottom: 2px solid #CFBD97;
}
.navbar-toggler img {
    width: 40px;
    height: 40px;
  }

.cart-icon {
    color: #F7E79B; /* Couleur de l'icône du panier */
}

.img-fluid {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


.btn-secondary {
    background-color: #CFBD97; /* Couleur dorée */
    color: #1E1E1E;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #D4C08E; /* Légère variation au survol */
}

.button {
    margin-top: 40px; /* Ajout de marge pour espacer les boutons */
}

.btn-block {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 25px;
}
/* Centrer le QR code */
#qrcode {
    margin: 20px auto; /* Marge pour centrer */
    display: flex;
    justify-content: center;
}


footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 10px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
